* {
  margin: 0;
  padding: 0;
}

#root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

main {
  display: flex;
  align-items: center;
}

main > .svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid blue;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 10px;
}